@import "./fonts/inter/fonts.scss";

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
}

@mixin button {
  cursor: pointer;
  outline: none;
  border: none;
  &:hover {
    transform: scale(1.01);
  }
}

body {
  background: #f2f2f2;
  margin: 0 0;
}

#root {
  max-width: 1095px;
  height: 100%;
  margin: 0 auto;
  // border: 1px solid black;
  //text-align: center;
}

.App {
  padding-bottom: 30px;
}

.Header {
  //border: 1px solid yellow;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background-image: url("./assets/header-net.svg"),
    linear-gradient(180deg, #bb1e1e 71.29%, #b21919 99.95%);
  background-repeat: no-repeat;
  background-position: 69%;

  .Container {
    max-width: 1095px;
    height: 100%;
    margin: auto;
    @include flexRow;
    color: #fff;

    .MakeHomepage {
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.136px;
      font-family: Inter-SemiBold;
      margin-right: 46px;
      cursor: pointer;
    }

    .Discover {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.119px;
      font-family: Inter-Regular;
      margin-right: auto;
    }

    .RightSection {
      @include flexRow;
      margin-right: 60px;

      .GetButton {
        @include button;
        width: 69px;
        height: 40px;
        background: #ffffff;
        font-family: Inter-Bold;
        border-radius: 8px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #1d1d1b;
      }

      .NoThanks {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-family: Inter-Bold;
        margin-left: 24px;
      }
    }
  }
}

.SearchComponent {
  max-width: 1095px;
  margin: 95px auto 0 auto;
  @include flexRow;
  justify-content: start;

  .MyNews {
    font-family: Inter-Black;
    font-size: 32px;
    line-height: 39px;

    section {
      color: #1d1d1b;
      display: inline;
    }

    .RedT {
      color: #bb1e1e;
    }
  }

  .SearchInput {
    margin-left: 43px;
    position: relative;
    width: 815px;
    @include flexRow;

    input {
      width: 100%;
      height: 50px;
      background: #ffffff;
      box-shadow: 0px 1px 2px -1px #c8cad1;
      border-radius: 10px;
      border: none;
      text-indent: 50px;
      font-size: 15px;
      line-height: 20px;
      color: #1d1d1b;
      mix-blend-mode: normal;
      // opacity: 0.4;
      font-family: Inter-Regular;

      &:focus {
        outline: none;
      }
    }

    .searchIcon {
      position: absolute;
      left: 15px;
    }

    .SearchButton {
      @include button;
      background: #bb1e1e;
      border-radius: 6px;
      width: 95px;
      height: 40px;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;
      font-family: Inter-Bold;
      position: relative;
      left: -95px;
    }
  }
}

.HorizontalLine {
  margin-top: 28px;
  opacity: 0.1;
  color: #979797;
}

.MainContent {
  @include flexRow;
  margin-top: 34px;
  align-items: flex-start;
}

.SideMenu {
  @include flexColumn;
  gap: 2px;
  width: 65px;
  // margin-top: 24px;
  //border: 1px solid blue;
  //left: 0;

  .CategoryBox {
    width: 63px;
    height: 63px;
    @include flexColumn;
    gap: 4px;
    justify-content: center;

    &:hover {
      transform: scale(1.03);
    }

    cursor: pointer;

    &.active {
      background-color: #fff;
      box-shadow: 0px 1px 2px -1px #c8cad1;
      border-radius: 5px;
    }

    .Icon {
      opacity: 0.5;
      &.active {
        filter: invert(32%) sepia(49%) saturate(2310%) hue-rotate(341deg)
          brightness(78%) contrast(101%);
        opacity: 1;
      }
    }

    .CategoryName {
      font-family: Inter-Semibold;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #1d1d1b;
      mix-blend-mode: normal;
      opacity: 0.5;

      &.active {
        color: #bb1e1e;
      }
    }
  }
}

.NewsSection {
  width: 100%;
  margin-left: 25px;

  .Title {
    font-family: Inter-SemiBold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: #1d1d1b;
  }

  .NewsContainer {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 16px;
    margin-top: 16px;
  }
}

.NewsCard {
  width: 321px;
  height: 252px;
  background-color: #fff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  text-decoration: none;
  @include flexColumn;

  .NewsImage {
    width: 321px;
    min-height: 140px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .NewsInfo {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 12px 8px 16px 12px;
    position: relative;

    .Category {
      font-family: Inter-Bold;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: -0.0153846px;
      text-transform: uppercase;
      color: #1e71bb;
    }

    .NewsTitle {
      margin-top: 2px;
      font-family: Inter-Medium;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.11px;
      color: #000000;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .LastRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 16px;
      width: 300px;

      .NewsAuthor {
        font-family: Inter-Regular;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.0675px;
        color: #1d1d1b;
      }

      .Favourite {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0px;
        top: 2px;
      }
    }
  }
}

.LatestNewsCard {
  width: 321px;
  height: 529px;
  background: #ffffff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  grid-row: span 2 / span 2;
  order: 2;
  box-sizing: border-box;
  padding: 19px 3px 0 0px;
  position: relative;

  .TitleSection {
    @include flexRow;
    justify-content: flex-start;
    // border: 1px solid red;
    height: 22px;
    margin-left: 15px;

    p {
      margin-left: 10px;
      font-family: Inter-Medium;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.11px;
      color: #000000;
    }
  }

  .LatestNewsSection {
    //  border: 1px solid red;
    height: 437px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-left: 15px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.237981);
      border-radius: 2px;
    }

    .SingleNews {
      border-bottom: 1px solid #f4f5f8;
      //min-height: 68px;
      width: 290px;
      padding: 14px 0;
      box-sizing: border-box;

      .NewsTime {
        font-family: Inter-Bold;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: -0.0153846px;
        text-transform: uppercase;
        color: #1e71bb;
        margin-bottom: 3px;
      }

      .NewsTitle {
        font-family: Inter-Medium;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.11px;
        color: #000000;
        width: 281px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  .SeeAllNews {
    height: 51px;
    // border: 1px solid red;
    border-top: 1px solid #f4f5f8;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-family: Inter-Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.09625px;
    color: #1e71bb;
    box-sizing: border-box;
    padding: 10px 0 0 14px;
    cursor: pointer;
    //   outline: none;

    section {
      color: #1d1d1b;
      display: inline;
      font-size: 17px;
      font-family: Inter-Medium;
      margin-left: 1px;
    }
  }
}
